.parcerias-bg {
  display: flex;
}

.parcerias-cont {
  max-width: 1300px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 50px 30px;
}

.parcerias-cont .apresentacao {
  max-width: 65ch;

  display: grid;
  gap: 25px;
}

.parcerias-cont .apresentacao div {
  display: grid;
  gap: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.parcerias-cont .parceiros {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.parcerias-cont .parceiros .prevenir,
.parcerias-cont .parceiros .braulios {
  display: flex;
  gap: 25px;
}

.parcerias-cont .parceiros .prevenir .img,
.parcerias-cont .parceiros .braulios .img {
  display: grid;
  gap: 15px;
}

.parcerias-cont .parceiros .img img {
  max-width: 150px;
}

.parcerias-cont .img .contato {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parcerias-cont .img .contato a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.parcerias-cont .img .contato img {
  max-width: 25px;
}

.parcerias-cont .prevenir .content,
.parcerias-cont .braulios .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.parcerias-cont .prevenir .content .lista,
.parcerias-cont .braulios .content .lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.parcerias-cont .prevenir .content .lista li,
.parcerias-cont .braulios .content .lista li {
  margin-left: 30px;
}

.parcerias-cont .prevenir .content .lista li p {
  position: relative;
}

.parcerias-cont .prevenir .content .lista li p::before,
.parcerias-cont .braulios .content .lista li p::before {
  position: absolute;
  content: "";
  background: url("../../imgs/geral/verificado.svg") no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-left: -23px;
}

@media (max-width: 1200px) {
  .parcerias-cont .prevenir .content .lista,
  .parcerias-cont .braulios .content .lista {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .parcerias-bg {
    align-items: center;
    justify-content: center;
  }

  .parcerias-cont {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 535px) {
  .parcerias-cont .apresentacao .titulo-grande {
    font-size: 1.5rem;
  }

  .parcerias-cont {
    align-items: center;
  }

  .parcerias-cont .parceiros .prevenir,
  .parcerias-cont .parceiros .braulios {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .parcerias-cont .apresentacao .titulo-grande {
    font-size: 1.45rem;
  }
}
