.banner-bg {
  padding: 104px 0 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.banner-cont {
  position: relative;
}

.banner-imgs img {
  max-width: 100%;
}

.banner-cont .prev,
.banner-cont .next {
  position: absolute;
  top: 40%;
  width: auto;

  padding: 10px 18px;
  border-radius: 50%;

  font-weight: bolder;
  font-size: 1.3rem;
  color: #fff;

  cursor: pointer;
  transition: 0.3s ease;

  background-color: #000;
  opacity: 0;
}

.banner-imgs:hover ~ .prev,
.banner-imgs:hover ~ .next,
.prev:hover,
.next:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.banner-cont .prev {
  left: 10px;
}

.banner-cont .next {
  right: 10px;
}

.banner-cont .prev:hover,
.banner-cont .next:hover {
  background-color: rgb(120, 120, 120);
}

.dot {
  display: inline-block;
  margin: 0 2px;

  cursor: pointer;

  width: 25px;
  height: 8px;

  background-color: #bbb;

  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000;
}

.fade {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .banner-cont .prev,
  .banner-cont .next {
    top: 40%;
  }
}

@media only screen and (max-width: 450px) {
  .banner-bg {
    padding: 85px 0 10px 0;
  }

  .banner-cont .prev,
  .banner-cont .next {
    display: none;
  }
}
