.contato-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;

  background-color: #e2efee;
}

.contato-cont {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.contato-cont .cab {
  display: grid;
  gap: 15px;
  justify-items: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
}

.contato-cont .cab p {
  font-weight: 500;
}

.contato-cont .content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 70px;
  justify-content: center;
}

.contato-cont .form form {
  display: grid;
  border: 1px solid #ccc;
  padding: 40px;
  gap: 30px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #aaa;

  box-shadow: 0px 0px 10px -3px #6fc5c4;
}

.contato-cont .form form .campo {
  position: relative;
}

.contato-cont .form form .campo input {
  width: 350px;
  padding: 10px;

  outline: none;
}

.contato-cont .form form .campo input::after {
  content: "teste";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
}

.contato-cont .form form .campo #mensagem:placeholder-shown ~ label,
.contato-cont .form form .campo label {
  position: absolute;
  top: 10px;
  left: 15px;

  transition: 0.2s ease-in-out;
}

.contato-cont .form form .campo #mensagem::placeholder {
  padding-left: 90px;
}

.contato-cont .form form .campo #mensagem:focus ~ label,
.contato-cont .form form .campo input:focus ~ label,
.contato-cont .form form .campo input:valid ~ label {
  top: -21px;
  left: 5px;
}

.contato-cont .form form .btn {
  justify-self: center;
}

.contato-cont .form form .btn button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;

  padding: 15px 40px;
  border-radius: 5px;

  background-color: #3c9997;
  border: none;
  cursor: pointer;
}

@media (max-width: 980px) {
  .contato-cont .content .img img {
    max-width: 320px;
  }

  .contato-cont .form form .campo input {
    width: 275px;
  }
}

@media (max-width: 768px) {
  .contato-cont {
    gap: 50px;
  }

  .contato-cont .content .img {
    display: none;
  }

  .contato-cont .form form .campo input {
    width: 400px;
  }
}

@media (max-width: 510px) {
  .contato-cont .cab p {
    font-size: 0.8rem;
    text-align: center;
  }

  .contato-cont .form form {
    padding: 40px 20px;
  }

  .contato-cont .form form .campo input {
    width: 250px;
  }

  .contato-cont .form form .btn button {
    padding: 10px 40px;
  }
}
