.navbar-brand img {
  max-width: 120px;
}

.navbar .contato img {
  max-width: 35px;
}

@media (min-width: 576px) {
  .navbar-brand img {
    max-width: 80px;
  }
}

@import url("./css/bootstrap.css");
@import url("bootstrap.css");
