.titulo-grande {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
  color: #08142b;
}

.titulo-medio {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: #08142b;
}

.titulo-pequeno {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  color: #0b1b3d;
}

.subtitulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  color: #0b1b3d;
}
